<!DOCTYPE html>
<html>
<head>
  <title>Mytest</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
  
  <script type='text/javascript' src='//s3.amazonaws.com/appforma_static/embed/maverick.js'></script>
  <script type="text/javascript">
    if (typeof(Maverick) !== "undefined") {
      Maverick.init({
        acc_hash: "5cfce729822530401812631382e60440"
      });
    }
  </script>

</body>
</html>

